.wineRoadPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 4rem;

  header {
    height: 5rem;
    padding-left: 6rem;
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 2rem;
    gap: 4rem;

    .textContainer {
      width: 100%;
      max-width: 50rem;
      height: fit-content;
      padding: 3rem 2rem;
      // background-color: var(--secondary);
      background: rgb(13, 141, 96);
      background: -moz-linear-gradient(
        90deg,
        rgba(13, 141, 96, 1) 30%,
        rgba(14, 135, 139, 1) 95%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(13, 141, 96, 1) 30%,
        rgba(14, 135, 139, 1) 95%
      );
      background: linear-gradient(
        90deg,
        rgba(13, 141, 96, 1) 30%,
        rgba(14, 135, 139, 1) 95%
      );
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      p {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        color: var(--white);
        line-height: 1.6;
      }

      img {
        position: absolute;
        top: 5rem;
        left: -10rem;
        opacity: 0.15;
        transform: rotate(35deg);

        &:last-child {
          top: unset;
          bottom: -2rem;
          left: unset;
          right: -8rem;
          transform: rotate(-25deg);
        }
      }
    }

    .businesses {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // flex-wrap: wrap;
      // justify-content: flex-start;
      gap: 2rem;

      .businessCard {
        width: 13rem;
        // height: fit-content;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0.1em solid var(--secondary);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-wrap: wrap;

        h3 {
          font-weight: 500;
          line-height: 1.2;
          padding-bottom: 0.5rem;
          border-bottom: 0.05em solid var(--secondary);
        }

        p {
          text-wrap: wrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .wineRoadPage {
    main {
      .businesses {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .wineRoadPage {
    main {
      .textContainer {
        padding: 2rem 1rem;

        p {
          line-height: 1.4;
        }
      }

      .businesses {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .wineRoadPage {
    gap: 2rem;
    header {
      min-height: 5rem;

      h1 {
        line-height: 1.2;
      }
    }
    main {
      gap: 2rem;

      
    }
  }
}

@media screen and (max-width: 500px) {
  .wineRoadPage {
    padding-bottom: 2rem;
    
    header {
      min-height: 5rem;
      padding: 0 1rem 0 5rem;

      h1 {
        font-size: 1.75rem;
        line-height: 1.2;
      }
    }

    main {
      gap: 2rem;
      padding: 2rem 1rem;

      

      .businesses {
        grid-template-columns: 1fr ;
        justify-items: center;

        .businessCard {
          width: 90%;
        }
      }
    }
  }
}