.menuButton {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    cursor: pointer;
    // margin: 0.15rem;
    z-index: 1000;

    svg {
        font-size: 2rem;
        color: var(--white);
    }
}