.gastroPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 4rem;

  header {
    height: 5rem;
    padding-left: 6rem;
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 2rem;
    gap: 4rem;

    .textContainer {
      width: 100%;
      max-width: 50rem;
      height: fit-content;
      padding: 3rem 2rem;
      // background-color: var(--secondary);
      background: rgb(13, 141, 96);
      background: -moz-linear-gradient(
        90deg,
        rgba(13, 141, 96, 1) 30%,
        rgba(14, 135, 139, 1) 95%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(13, 141, 96, 1) 30%,
        rgba(14, 135, 139, 1) 95%
      );
      background: linear-gradient(
        90deg,
        rgba(13, 141, 96, 1) 30%,
        rgba(14, 135, 139, 1) 95%
      );
      border-radius: 0.75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      p {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        color: var(--white);
        line-height: 1.6;
      }

      img {
        position: absolute;
        top: 5rem;
        left: -10rem;
        opacity: 0.15;
        transform: rotate(35deg);

        &:last-child {
          top: unset;
          bottom: -2rem;
          left: unset;
          right: -8rem;
          transform: rotate(-25deg);
        }
      }
    }

    .mainImage {
      position: relative;
      width: 100%;
      max-width: 38rem;
      overflow: hidden;
      border-radius: 0.75rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .restaurantsGrid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem 2rem;
      justify-items: center;
      align-content: center;
      padding: 2rem 0;

      .restaurantCard {
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow: hidden;

        h2 {
          font-weight: 400;
          font-size: 1.5rem;
          // text-transform: uppercase;
          // margin-bottom: 2rem;
          position: relative;
          line-height: 1.8;
          width: fit-content;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.35rem;
            bottom: -2px;
            left: 1.5rem;
            background-color: var(--secondary);
            border-radius: 1rem;
          }
        }

        p {
          font-weight: 300;
        }
      }
    }

    a {
      padding: 0.75rem 2rem;
      background-color: var(--secondary);
      border-radius: 0.5rem;
      color: var(--white);
      border: 0.1em solid var(--secondary);
      transition: all 300ms ease;

      &:hover {
        color: var(--secondary);
        background-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .gastroPage {
    main {
      .restaurantsGrid {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .gastroPage {
    gap: 2rem;
    padding-bottom: 2rem;

    main {
      // gap: 2rem;

      .textContainer {
        padding: 2rem 1rem;

        p {
          line-height: 1.4;
        }
      }

      .restaurantsGrid {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .gastroPage {
    header {
      padding-left: 5rem;
      min-height: 5rem;

      h1 {
        font-size: 1.75rem;
      }
    }

    main {
      padding: 2rem 1rem;

      .restaurantsGrid {
        gap: 2rem;
        padding: 0;
      }
    }
  }
}
