@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #000;
  --secondary: #0D8D60;
  --white: #fff;
  /* --tertiary: var(--color-dark-blue); */
  /* --quaternary: var(--color-red); */
  /* --dark-bg: var(--color-beige); */
  --overlay: rgba(0, 0, 0, 0.2);
  --radius: 3px;
  --gap: 4rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  background-color: #fff;
  line-height: 1.4;
  overflow-x: hidden;
  /* position: relative; */
}

html,
body,
:root {
  height: 100%;
}

a {
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

