.articlePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 4rem;

  header {
    min-height: 5rem;
    padding: 0 2rem 0 6rem;
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 2rem;
    gap: 4rem;

    .headerImage {
      width: 100%;
      max-width: 40rem;
      height: 25rem;
      align-self: center !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }

    .line {
      width: 100%;
      max-width: 60rem;
      height: 0.15em;
      background-color: var(--secondary);
      border-radius: 1rem;
    }

    article {
      width: 100%;
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      position: relative;

      h2 {
        align-self: flex-start;
        font-size: 1.25rem;
        margin: 0.75rem 0 0.5rem;
        font-weight: 400;
        line-height: 1.2;
      }

      p {
        width: 100%;
        align-self: flex-start;
        font-weight: 300;
        line-height: 1.6;
      }

      a {
        color: var(--secondary);
      }

      img {
        padding: 2rem 0;
      }
    }

    .galleryContainer {
      width: 100%;
      max-width: 50rem;
      margin-bottom: 2rem;
    }

    .articleFooter {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      align-items: center;

      .articlesBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 1.75rem;
        background-color: var(--secondary);
        color: var(--white);
        font-weight: 500;
        border-radius: 0.25rem;
        letter-spacing: 1px;
        border: 0.1em solid var(--secondary);
        transition: all 300ms ease;

        &:hover {
          background-color: transparent;
          color: var(--secondary);
        }
      }

      .featuredArticles {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50rem;
        gap: 3rem;

        h1 {
          color: var(--primary);
          text-transform: uppercase;
          font-size: 1.75rem;
          font-weight: 700;
          text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
        }

        .articles {
          display: flex;
          gap: 3rem;
          flex-wrap: wrap;
          justify-content: space-between;

          .articleCard {
            width: 20rem;
            height: fit-content;
            display: flex;
            flex-direction: column;

            .articleImage {
              width: 100%;
              height: 11rem;
              margin-bottom: 1rem;
              border-radius: 0.5rem;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 300ms ease;
              }

              &:hover {
                img {
                  transform: scale(1.05);
                }
              }
            }

            .articleTitle {
              font-weight: 500;
              font-size: 1.15rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .articlePage {
    gap: 2rem;
    padding-bottom: 2rem;

    main {
      gap: 2rem;

      .articleFooter {
        gap: 3rem;

        .featuredArticles {
          gap: 3rem;

          h1 {
            font-size: 1.5rem;
          }

          .articles {
            justify-content: center;
            gap: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .articlePage {
    header {
      min-height: 5rem;
      padding: 0 1rem 0 5rem;

      h1 {
        font-size: 1.25rem;
        line-height: 1.2;
      }
    }

    main {
      padding: 2rem 1rem;

      .headerImage {
        height: unset;

        img {
          aspect-ratio: 16/9;
        }
      }

      article {
        p {
          line-height: 1.4;
        }

        .rtcImage {
          max-width: 95% !important;
          align-self: center !important;
        }
      }

      // .galleryContainer {
      //   width: 100%;

        
      // }

      .articleFooter {
        .featuredArticles {
          h1 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
