.articlePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 200vh;

  .header {
    width: 100%;
    height: 35rem;
    position: relative;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem 0;
    background: rgb(221, 148, 216);
    background: -moz-linear-gradient(
      17deg,
      rgba(221, 148, 216, 1) 22%,
      rgba(163, 150, 224, 1) 62%,
      rgba(151, 159, 230, 1) 81%
    );
    background: -webkit-linear-gradient(
      17deg,
      rgba(221, 148, 216, 1) 22%,
      rgba(163, 150, 224, 1) 62%,
      rgba(151, 159, 230, 1) 81%
    );
    background: linear-gradient(
      17deg,
      rgba(221, 148, 216, 1) 22%,
      rgba(163, 150, 224, 1) 62%,
      rgba(151, 159, 230, 1) 81%
    );

    .title {
      width: 70%;
      max-width: 700px;
      font-weight: 700;
      font-size: 1.75rem;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.2;
      color: var(--white);
      letter-spacing: -1px;
    }

    .category {
      padding: 0.25rem 1rem;
      border: 1px solid var(--white);
      border-radius: 5px;
      text-transform: uppercase;
      color: var(--white);
      font-size: 0.9rem;
    }

    .details {
      display: flex;
      gap: 1rem;
      align-items: center;

      .avatar {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: beige;
      }

      .author {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        color: var(--white);

        h2 {
          font-weight: 600;
        }
      }
    }

    .featuredImage {
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 28rem;
      width: 50rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }

  article {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 18rem;
    padding: 4rem 0;

    p {
      font-weight: 300;
      line-height: 1.6;
    }
  }

  .articleFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

    .articlesBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.75rem 1.75rem;
      background-color: var(--secondary);
      color: var(--white);
      font-weight: 500;
      border-radius: 5px;
      letter-spacing: 1px;
    }

    .featuredArticles {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 50rem;
      gap: 3rem;

      h1 {
        color: var(--primary);
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 700;
        text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
      }

      .articles {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: space-between;

        .articleCard {
          width: 20rem;
          height: fit-content;
          display: flex;
          flex-direction: column;

          .articleImage {
            width: 100%;
            height: 11rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 300ms ease;
            }

            &:hover {
              img {
                transform: scale(1.05);
              }
            }
          }

          .articleTitle {
            font-weight: 500;
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}
